{% extends '@App/base.html.twig' %}

{% block content -%}
    <div id="wrapper" class="gray-bg">
        <div class="page-container">
            <div class="block-header">
                <a href="/"><img class="box-logo" src="{{ asset('bundles/app/images/zenfit-logo-dark.svg') }}"
                                 alt="Zenfit"></a>
                <div class="box-text">
                    <p>New password</p>
                </div>
            </div>

            {% if success is defined or expired %}
                {% if success is defined %}
                    <div class="alert alert-success">{{ success }}</div>
                {% elseif expired %}
                    <div class="alert alert-danger">This activation code is no longer supported.</div>
                {% endif %}

                <div class="form-group text-center">
                    <a href="/"
                       class="btn btn-success btn-upper btn-save-settings">Go to login page
                    </a>
                </div>
            {% endif %}

            {% if user %}
                <div class="block-body">
                    <form class="form client-settings" method="POST"
                          action="{{ path('authNewPasswordSend', { 'datakey': datakey }) }}" autocomplete="off">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="ibox">
                                    <div class="ibox-content ibox-content-line m-p-x">
                                        {% for message in app.flashes('error') %}
                                            <p class="text-danger">{{ message }}</p>
                                        {% endfor %}

                                        <div class="password-container">
                                            <div class="form-group">
                                                <label class="control-label" for="exampleInputName2">New
                                                    password</label>
                                                <div class="form-group-in max-width">
                                                    <input type="password" name="password" class="form-control"
                                                           placeholder="Make it tricky, yet memorable">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="exampleInputName2">Confirm new
                                                    password</label>
                                                <div class="form-group-in max-width">
                                                    <input type="password" name="password2" class="form-control"
                                                           placeholder="Confirm your new password">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label"></label>
                                            <div class="form-group-in">
                                                <button style="float: right;" type="submit"
                                                        class="btn btn-success btn-upper btn-save-settings">Change
                                                    Password
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}


            <div class="block-footer">
                <div class="powered-by">
                    <p>Powered by <a href="/"><img src="{{ asset('bundles/app/images/zenfit-logo-dark.svg') }}"
                                                   alt="Zenfit"></a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
